<div class="ldnddev-accordion__item">
    <div class="ldnddev-accordion__header">
        <h4>{{ content.field_ldnddev_accordion_header.0 }}</h4>
        <i class="far fa-expand-alt"></i>
        <im class="far fa-compress-alt"></i>
    </div>
    <div class="ldnddev-accordion__copy">
        {{ content.field_ldnddev_accordion_copy }}
    </div>
</div>